Repository BjornMelin/ai-docs-vector-db-hybrid-scraper, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/cli, area/mcp, area/services, area/infrastructure, area/browser, area/vector-db, area/embeddings, area/cache, area/crawling, area/monitoring, area/security, testing, documentation, ci/cd, performance, dependencies, docker, config-files, scripts, area/database, area/query-processing, area/task-queue, area/content-intelligence, area/deployment, area/api, area/hyde

.github/labeler.yml:

# Labeler configuration for auto-labeling PRs based on changed files
# Compatible with actions/labeler@v5+ format

# Core source code
'area/core':
- changed-files:
  - any-glob-to-any-file:
    - 'src/core/**/*'
    - 'src/models/**/*'
    - 'src/utils.py'

# Configuration management
'area/config':
- changed-files:
  - any-glob-to-any-file:
    - 'src/config/**/*'
    - 'config/**/*'
    - 'pyproject.toml'
    - 'requirements.txt'
    - 'requirements-dev.txt'
    - 'uv.lock'

# CLI components
'area/cli':
- changed-files:
  - any-glob-to-any-file:
    - 'src/cli/**/*'
    - 'src/cli_worker.py'

# MCP tools
'area/mcp':
- changed-files:
  - any-glob-to-any-file:
    - 'src/mcp_tools/**/*'
    - 'src/unified_mcp_server.py'

# Services
'area/services':
- changed-files:
  - any-glob-to-any-file: 'src/services/**/*'

# Infrastructure
'area/infrastructure':
- changed-files:
  - any-glob-to-any-file:
    - 'src/infrastructure/**/*'
    - 'docker-compose*.yml'
    - 'Dockerfile*'

# Browser automation
'area/browser':
- changed-files:
  - any-glob-to-any-file: 'src/services/browser/**/*'

# Vector database
'area/vector-db':
- changed-files:
  - any-glob-to-any-file:
    - 'src/services/vector_db/**/*'
    - 'src/manage_vector_db.py'

# Embeddings
'area/embeddings':
- changed-files:
  - any-glob-to-any-file:
    - 'src/services/embeddings/**/*'
    - 'src/crawl4ai_bulk_embedder.py'

# Caching
'area/cache':
- changed-files:
  - any-glob-to-any-file: 'src/services/cache/**/*'

# Crawling/Scraping
'area/crawling':
- changed-files:
  - any-glob-to-any-file:
    - 'src/services/crawling/**/*'
    - 'src/chunking.py'

# Monitoring
'area/monitoring':
- changed-files:
  - any-glob-to-any-file:
    - 'src/services/monitoring/**/*'
    - 'config/prometheus/**/*'
    - 'config/grafana/**/*'
    - 'config/alertmanager/**/*'
    - 'docker-compose.monitoring.yml'

# Security
'area/security':
- changed-files:
  - any-glob-to-any-file:
    - 'src/security.py'
    - '.github/workflows/security.yml'
    - '.gitleaks.toml'

# Testing
'testing':
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - 'scripts/test*.py'
    - '.pre-commit-config.yaml'
    - 'pytest.ini'
    - 'conftest.py'

# Documentation
'documentation':
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - '.github/workflows/docs*.yml'

# CI/CD
'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/**/*'
    - 'scripts/**/*'

# Performance
'performance':
- changed-files:
  - any-glob-to-any-file:
    - 'src/benchmarks/**/*'
    - 'scripts/benchmark_*.py'

# Dependencies
'dependencies':
- changed-files:
  - any-glob-to-any-file:
    - 'pyproject.toml'
    - 'requirements.txt'
    - 'requirements-dev.txt'
    - 'uv.lock'
    - '.github/dependabot.yml'

# Docker
'docker':
- changed-files:
  - any-glob-to-any-file:
    - 'Dockerfile*'
    - 'docker-compose*.yml'
    - '.dockerignore'

# Configuration files
'config-files':
- changed-files:
  - any-glob-to-any-file:
    - '*.toml'
    - '*.yml'
    - '*.yaml'
    - '*.json'
    - '*.ini'
    - '*.cfg'

# Scripts
'scripts':
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**/*'
    - 'setup.sh'

# Database
'area/database':
- changed-files:
  - any-glob-to-any-file: 'src/infrastructure/database/**/*'

# Query processing
'area/query-processing':
- changed-files:
  - any-glob-to-any-file: 'src/services/query_processing/**/*'

# Task queue
'area/task-queue':
- changed-files:
  - any-glob-to-any-file: 'src/services/task_queue/**/*'

# Content intelligence
'area/content-intelligence':
- changed-files:
  - any-glob-to-any-file: 'src/services/content_intelligence/**/*'

# Deployment
'area/deployment':
- changed-files:
  - any-glob-to-any-file: 'src/services/deployment/**/*'

# API/FastAPI
'area/api':
- changed-files:
  - any-glob-to-any-file: 'src/services/fastapi/**/*'

# HyDE
'area/hyde':
- changed-files:
  - any-glob-to-any-file:
    - 'src/services/hyde/**/*'

test: finalize processing and vector db unit refactor
  CHANGELOG.md
  Makefile
  planning/unit_test_refactor_plan.md
  pytest.ini
  src/architecture/modes.py
  src/services/agents/core.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/configuration.py
  tests/fixtures/http_mocks.py
  tests/fixtures/mock_factories.py
  tests/plugins/__init__.py
  tests/plugins/random_seed.py
  tests/test_infrastructure.py
  tests/unit/ai/test_embedding_properties.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/config/test_config_async_validation.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/config/test_observability_automation.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/processing/test_chunking.py
  tests/unit/processing/test_chunking_performance.py
  tests/unit/services/agents/test_agent_base.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_agentic_rag.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_tool_discovery_advanced.py
  tests/unit/services/agents/test_tool_discovery_assessment.py
  tests/unit/services/agents/test_tool_discovery_core.py
  tests/unit/services/agents/test_tool_discovery_optimization.py
  tests/unit/services/functional/test_embeddings.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/utils/ai_testing_utilities.py
Labels: area/services, testing, documentation, config-files

ci: deduplicate workflow setup and harden release checks
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test-composite-actions.yml
  docs/developers/ci-cd.md
  tests/scripts/test_validate_config.py
Labels: testing, documentation, ci/cd

Merge branch 'origin/main' into work
  .github/actions/README.md
Labels: ci/cd

test: refactor batch cli suite
  CHANGELOG.md
  tests/unit/cli/commands/test_batch.py
Labels: testing, documentation

docs: align workflow docs after merge
  .github/actions/README.md
  docs/developers/ci-cd.md
  docs/developers/github-actions.md
Labels: documentation, ci/cd

test: register pytest markers and clarify vector db stub
  pytest.ini
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/utils/ai_testing_utilities.py
Labels: testing, config-files

fix(workflow): checkout before docker detection
  .github/workflows/release.yml
Labels: ci/cd

fix(workflow): checkout before local setup action
  .github/workflows/release.yml
Labels: ci/cd

fix(workflow): ensure checkout precedes local composites
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test-composite-actions.yml
Labels: documentation, ci/cd

refactor(cache): clean up imports and improve logging format across cache modules
  src/services/cache/browser_cache.py
  src/services/cache/dragonfly_cache.py
  src/services/cache/embedding_cache.py
  src/services/cache/local_cache.py
  src/services/cache/metrics.py
  src/services/cache/patterns.py
  src/services/cache/warming.py
  src/services/vector_db/filters/temporal.py
Labels: area/services, area/vector-db, area/cache

feat(dependencies): add documentation dependencies for MkDocs and related tools
  pyproject.toml
  src/services/cache/base.py
  uv.lock
Labels: area/config, area/services, area/cache, dependencies, config-files

refactor(filters): improve logging format and add helper methods in BaseFilter
  src/services/cache/base.py
  src/services/cache/manager.py
  src/services/cache/search_cache.py
  src/services/vector_db/filters/base.py
Labels: area/services, area/vector-db, area/cache

refactor: observability instrumentation and metadata filtering
  src/services/cache/modern.py
  src/services/cache/performance_cache.py
  src/services/observability/config_instrumentation.py
  src/services/observability/instrumentation.py
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/filters/metadata.py
Labels: area/services, area/vector-db, area/cache

refactor(span): enhance span management with context managers and telemetry attributes
  src/services/observability/config_instrumentation.py
  src/services/observability/span_utils.py
Labels: area/services

refactor(filters): streamline error handling and logging in ContentTypeFilter
  src/services/vector_db/filters/content_type.py
Labels: area/services, area/vector-db

refactor(ai_tracking): restructure metrics classes and enhance operation tracking
  src/services/observability/ai_tracking.py
Labels: area/services

refactor(cache): harden modern cache manager
  src/services/cache/modern.py
  tests/services/cache_modern/test_modern_cache.py
Labels: area/services, area/cache, testing
