Repository BjornMelin/ai-docs-vector-db-hybrid-scraper, changes with the labels that .github/labeler.yml gives for each.
All labels: area/core, area/config, area/cli, area/mcp, area/services, area/infrastructure, area/browser, area/vector-db, area/embeddings, area/cache, area/crawling, area/monitoring, area/security, testing, documentation, ci/cd, performance, dependencies, docker, config-files, scripts, area/database, area/query-processing, area/task-queue, area/content-intelligence, area/deployment, area/api, area/hyde

.github/labeler.yml:

# Labeler configuration for auto-labeling PRs based on changed files

# Core source code
'area/core':
  - 'src/core/**/*'
  - 'src/models/**/*'
  - 'src/utils.py'

# Configuration management
'area/config':
  - 'src/config/**/*'
  - 'config/**/*'
  - 'pyproject.toml'
  - 'requirements.txt'
  - 'uv.lock'

# CLI components
'area/cli':
  - 'src/cli/**/*'
  - 'src/cli_worker.py'

# MCP tools
'area/mcp':
  - 'src/mcp_tools/**/*'
  - 'src/unified_mcp_server.py'

# Services
'area/services':
  - 'src/services/**/*'

# Infrastructure
'area/infrastructure':
  - 'src/infrastructure/**/*'
  - 'docker-compose*.yml'
  - 'Dockerfile*'

# Browser automation
'area/browser':
  - 'src/services/browser/**/*'

# Vector database
'area/vector-db':
  - 'src/services/vector_db/**/*'
  - 'src/manage_vector_db.py'

# Embeddings
'area/embeddings':
  - 'src/services/embeddings/**/*'
  - 'src/crawl4ai_bulk_embedder.py'

# Caching
'area/cache':
  - 'src/services/cache/**/*'

# Crawling/Scraping
'area/crawling':
  - 'src/services/crawling/**/*'
  - 'src/chunking.py'

# Monitoring
'area/monitoring':
  - 'src/services/monitoring/**/*'
  - 'config/prometheus/**/*'
  - 'config/grafana/**/*'
  - 'config/alertmanager/**/*'
  - 'docker-compose.monitoring.yml'

# Security
'area/security':
  - 'src/security.py'
  - '.github/workflows/security.yml'
  - '.gitleaks.toml'

# Testing
'testing':
  - 'tests/**/*'
  - 'scripts/test*.py'
  - '.pre-commit-config.yaml'
  - pytest.ini
  - conftest.py

# Documentation
'documentation':
  - 'docs/**/*'
  - '*.md'
  - '.github/workflows/docs*.yml'

# CI/CD
'ci/cd':
  - '.github/workflows/**/*'
  - '.github/**/*'
  - 'scripts/**/*'

# Performance
'performance':
  - 'src/benchmarks/**/*'
  - 'scripts/benchmark_*.py'

# Dependencies
'dependencies':
  - 'pyproject.toml'
  - 'requirements.txt'
  - 'uv.lock'
  - '.github/dependabot.yml'

# Docker
'docker':
  - 'Dockerfile*'
  - 'docker-compose*.yml'
  - '.dockerignore'

# Configuration files
'config-files':
  - '*.toml'
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.ini'
  - '*.cfg'

# Scripts
'scripts':
  - 'scripts/**/*'
  - 'setup.sh'

# Database
'area/database':
  - 'src/infrastructure/database/**/*'

# Query processing
'area/query-processing':
  - 'src/services/query_processing/**/*'

# Task queue
'area/task-queue':
  - 'src/services/task_queue/**/*'

# Content intelligence
'area/content-intelligence':
  - 'src/services/content_intelligence/**/*'

# Deployment
'area/deployment':
  - 'src/services/deployment/**/*'

# API/FastAPI
'area/api':
  - 'src/services/fastapi/**/*'

# HyDE
'area/hyde':
  - 'src/services/hyde/**/*'

feat(config): implement advanced configuration management system
  src/config/backup_restore.py
  src/config/enhanced_validators.py
  src/config/migrations.py
  src/config/templates.py
  src/config/utils.py
  src/config/wizard.py
Labels: area/config

feat(cli): enhance configuration CLI with advanced management commands
  src/cli/commands/config.py
Labels: area/cli

refactor(config): enhance configuration models and validation
  src/config/loader.py
  src/config/models.py
  src/config/schema.py
Labels: area/config

test(config): add comprehensive test coverage for advanced configuration features
  tests/unit/cli/commands/test_config_enhanced.py
  tests/unit/config/test_backup_restore.py
  tests/unit/config/test_enhanced_validators.py
Labels: testing

test(config): enhance existing test suites with improved coverage
  tests/unit/config/test_backup_restore_additional.py
  tests/unit/config/test_backup_restore_extended.py
  tests/unit/config/test_fastapi.py
  tests/unit/config/test_loader.py
  tests/unit/config/test_migrations.py
  tests/unit/config/test_schema.py
  tests/unit/config/test_templates.py
  tests/unit/config/test_utils.py
  tests/unit/config/test_validators.py
  tests/unit/config/test_validators_comprehensive.py
  tests/unit/config/test_wizard.py
  tests/unit/config/test_wizard_comprehensive.py
  tests/unit/config/test_wizard_edge_cases.py
  tests/unit/config/test_wizard_simple_coverage.py
Labels: testing

chore: update project configuration and dependencies
  config/migrations/migrations.json
  coverage.json
  pyproject.toml
  uv.lock
Labels: area/config, dependencies, config-files

docs: update TODO.md with comprehensive status merge
  TODO.md
Labels: documentation

fix: correct issue counts and effort estimates in TODO.md
  TODO.md
Labels: documentation

docs: update TODO.md with final corrections
  TODO.md
Labels: documentation

chore: remove PR final status report and add performance/security reviews
  PR_FINAL_STATUS.md
  docs/developers/reviews/PERFORMANCE-REVIEW.md
  docs/developers/reviews/SECURITY-REVIEW.md
  docs/developers/summaries/ADVANCED_ORCHESTRATOR_TESTS_SUMMARY.md
  docs/developers/summaries/IMPLEMENTATION-SUMMARY.md
Labels: documentation

fix: resolve critical linting violations and improve code quality
  src/infrastructure/database/predictive_monitor.py
  src/services/content_intelligence/classifiers.py
  src/services/query_processing/ranking.py
  src/services/vector_db/filters/__init__.py
  src/services/vector_db/filters/composer.py
  src/services/vector_db/filters/metadata.py
  tests/unit/config/test_wizard.py
  tests/unit/config/test_wizard_comprehensive.py
  tests/unit/config/test_wizard_simple_coverage.py
  tests/unit/infrastructure/database/test_enhanced_circuit_breaker.py
  tests/unit/infrastructure/database/test_enhanced_connection_manager.py
  tests/unit/infrastructure/test_client_manager.py
Labels: area/services, area/infrastructure, area/vector-db, testing, area/database, area/query-processing, area/content-intelligence

fix: resolve critical linting violations and improve code quality
  tests/unit/services/crawling/test_manager.py
Labels: testing

fix: apply additional ruff linting fixes for CI compliance
  src/services/vector_db/filters/composer.py
  src/services/vector_db/filters/metadata.py
  src/services/vector_db/filters/similarity.py
  tests/unit/infrastructure/database/test_enhanced_connection_manager.py
Labels: area/services, area/vector-db, testing

docs: update various documentation files for clarity and formatting
  docs/developers/README.md
  docs/developers/advanced-query-processing.md
  docs/developers/api-reference.md
  docs/developers/architecture.md
  docs/developers/benchmarking-and-performance.md
  docs/developers/configuration.md
  docs/developers/database-connection-pool-technical-reference.md
  docs/developers/database-optimization-api.yaml
  docs/developers/enhanced-architecture-diagrams.md
  docs/developers/getting-started.md
  docs/developers/integration-guide.md
  docs/developers/ml-model-documentation.md
  docs/developers/performance-benchmarking-methodology.md
  docs/developers/query-api-optimization.md
  docs/developers/reviews/PERFORMANCE-REVIEW.md
  docs/developers/reviews/SECURITY-REVIEW.md
  docs/developers/summaries/ADVANCED_ORCHESTRATOR_TESTS_SUMMARY.md
  docs/developers/summaries/IMPLEMENTATION-SUMMARY.md
  docs/operators/README.md
  docs/operators/configuration.md
  docs/operators/database-connection-pool-performance.md
  docs/operators/deployment.md
  docs/operators/enhanced-security-architecture.md
  docs/operators/monitoring.md
  docs/operators/operations.md
  docs/operators/security.md
  docs/users/README.md
  docs/users/advanced-cli-interface.md
  docs/users/content-intelligence.md
  docs/users/examples-and-recipes.md
  docs/users/quick-start.md
  docs/users/search-and-retrieval.md
  docs/users/system-overview-with-enhanced-features.md
  docs/users/troubleshooting.md
  docs/users/web-scraping.md
Labels: documentation

docs: enhance README-MONITORING and README for clarity and formatting
  README-MONITORING.md
  README.md
Labels: documentation
